name: Check Attestation
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  push:
    paths:
      - '**.csv'
      - '**.ver'
      - 'registry/**'
permissions:
  id-token: write
  contents: read
  attestations: read
jobs:
  release-pki:
    uses: 0mniteck/.pki/.github/workflows/immutable.yml@c5ba574e9c0b77ce8bd357df765f3181bdaef8de #v0.0.2
  immutable-rel:
    runs-on: ubuntu-latest
    needs: release-pki
    steps:
      - name: Checkout v6
        id: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # checkout@v6
      - name: Install gh CLI
        run: sudo apt-get -qq update && sudo apt-get -qq install gh
      - name: Authenticate with GitHub CLI
        run: echo "${{ github.token }}" | gh auth login --with-token || exit 1
      - name: Run gh Attestation
        run: gh attestation verify || exit 1
