name: Check Attestation
permissions:
  id-token: write
  contents: read
  attestations: read
on:
  workflow_call:
  workflow_dispatch:
jobs:
  release-pki:
    uses: 0mniteck/.pki/.github/workflows/immutable.yml@3ffda874b6b7fa1d1db8acd14074ffee9d5d5644 #v0.0.2
  immutable-rel:
    runs-on: ubuntu-latest
    needs: release-pki
    steps:
      - name: Checkout v6
        id: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # checkout@v6
      - name: Install gh CLI
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq install gh
      - name: Authenticate with GitHub CLI
        run: echo "${{ github.token }}" | gh auth login --with-token
      - name: Run gh command
        run: gh attestation verify || exit 1
