name: Draft Immutable Release
permissions:
  id-token: write
  contents: write
  attestations: write
on:
  workflow_dispatch:
jobs:
  immutable-rel:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # checkout@v6
      - name: Generate attestation
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f #v3
        with: 
            subject-path: 'registry/**'
      - name: Fetch Attestation ID's
        id: fetch_attestation
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd #v8
        with:
          script: |
            const run_id = '${{ github.run_id }}';
            const response = await github.actions.listWorkflowRunArtifacts({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: run_id
            });
            const attestationArtifacts = response.data.artifacts.filter(a => a.name.startsWith('attestation-'));
            return attestationArtifacts.map(artifact => artifact.id);
      - name: Download Attestations
        id: download_attestation
        run: |
          attestation_ids=(${{ steps.fetch_attestation.outputs.result }})
          for id in "${attestation_ids[@]}"; do
            attestation_content=$(curl -H "Accept: application/json" \
              -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              https://api.github.com/repos/${{ github.repository }}/actions/artifacts/$id)
            download_url=$(echo "$attestation_content" | jq -r '.archive_download_url')
            mkdir -p attestations
            curl -L -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "$download_url" > "attestations/attestation_$id.json"
            echo "Attestation saved to attestations/attestation_$id.json"
          done
          return $(date +%d-%m-%Y)
      - name: Add assets to a release
        uses: gittools/actions/gitreleasemanager/addasset@71a79f7569b981036febd9ce5870f87e069928e7 # v4.3.3
        with:
          token: ${{ github.token }}
          repository: '0mniteck/.pki'
          name: 'Index Version 10'
          assets: |
              'attestations/attestation_**.json'
