name: Draft Immutable Release
permissions:
  id-token: write
  contents: write
  attestations: write
on:
  workflow_dispatch:
jobs:
  immutable-rel:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # checkout@v6
      - name: Generate attestation
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f #v3
        with: 
            subject-path: 'registry/**'
      - name: Fetch Attestation ID's
        id: fetch_attestation
        run: |
          curl -L \
          -H "Accept: application/vnd.github+html" \
          -H "Authorization: Bearer ${{ github.token }}" \
          https://github.com/0mniteck/.pki/actions/runs/${{ github.run_id }}/jobs/${{ job.check_run_id }}/summary_raw > summary.info
      - name: Download Attestations
        id: download_attestation
        run: |
          mkdir -p attestations && sum=$(cat summary.info | cut -d'"' -f2 | cut -d'/' -f7)
          curl $(cat summary.info | cut -d'"' -f2)/download > attestations/attestation.json
      - name: Add assets to a draft release
        uses: gittools/actions/gitreleasemanager/addasset@71a79f7569b981036febd9ce5870f87e069928e7 # v4.3.3
        with:
          token: ${{ github.token }}
          repository: '0mniteck/.pki'
          name: 'v0.0.2'
          assets: |
              'attestations/attestation_**.json'
