name: Fetch and Validate
on:
  schedule:
    - cron: '0 0 * * *'
  push:
    paths:
      - '**.csv'
  workflow_dispatch:
jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # checkout@v6
      - name: Fetch and Validate PKI
        run: |
          touch index.ver
          index_number=$(($(cat index.ver) + 1))
          echo $index_number > index.ver

          validate.pki() {
            curl -s --pinnedpubkey "sha256//$(<registry/$1.pubkey)" \
            --tlsv1.3 --proto -all,+https --remove-on-error --no-insecure https://$1/ > /dev/null || exit 1
          }
          
          fetch.pki() { # $1 = domain/FQDN
          pushd registry
            openssl s_client -servername $1 -connect $1:443 < /dev/null | sed -n "/-----BEGIN/,/-----END/p" > $1.pem && \
            openssl x509 -in $1.pem -pubkey -noout > $1.pubkey.pem && openssl x509 -in $1.pem -enddate -noout > $1.exp &&\
            openssl asn1parse -noout -inform pem -in $1.pubkey.pem -out $1.pubkey.der && \
            openssl dgst -sha256 -binary $1.pubkey.der | openssl base64 > $1.pubkey && \
            rm -f *.pem *.der || exit 1
            validate.pki $1 || exit 1
          popd
          }
          
          check.csv() { # $1 = domain/FQDN
            dater=$(date -d "$(cat registry/$1.exp | cut -d'=' -f2)" +%s)
            date=$(date +%s)
            if [[ "$dater" -le "$date" ]]; then
              echo "$1.pubkey expired"
              echo "Fetching new pubkey for $1"
              fetch.pki $1 || exit 1
              echo "Successfully fetched pubkey and checked validity for $1"
            else
              validate.pki $1 || exit 1
              echo "$1.pubkey is still valid"
            fi
          }
          
          check.pki() { # $1 = domain/FQDN
            if [[ -f "registry/$1.pubkey" ]]; then
              check.csv $1 || exit 1
            else
              fetch.pki $1 || exit 1
            fi
          }
          
          check.index() {
            for i in $(cat index.csv | tr ',' '\n' | cat); do
              check.pki $i || exit 1
            done
          }
          
          pushd $GITHUB_WORKSPACE
            check.index || exit 1
            git config user.name 'github-actions[bot]'
            git config user.email 'github-actions[bot]@users.noreply.github.com'
            git add -A && git commit -m "Index number $(cat index.ver) - $(date '+%m/%d/%y at %H:%M')"
            git push origin HEAD:main
          popd && echo DONE
