name: Immutable Release
on:
  workflow_call:
jobs:
  fetch-pki:
    uses: 0mniteck/.pki/.github/workflows/fetch.yml@99c0005d2d96ddec94c635bffea26f8882b598f1 #v0.0.2
  immutable-rel:
    runs-on: ubuntu-latest
    needs: fetch-pki
    steps:
      - name: Checkout v6
        id: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Generate Attestation for Build Provenance
        id: generate_attestation
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3
        with:
            subject-path: |
              .github/workflows/**
              registry/**
              index.csv
              index.ver
              local.sh
      - name: Fetch Attestation ID's
        id: fetch_attestation
        run: |
          echo 1. ${{ steps.generate_attestation.outputs.bundle-path }} > runner_outputs.log
          echo 2. ${{ steps.generate_attestation.outputs.attestation-url }} >> runner_outputs.log
          echo 3. ${{ steps.generate_attestation.outputs.attestation-id }} >> runner_outputs.log
          cat runner_outputs.log
      - name: Download Attestations
        id: download_attestation
        run: | 
          mkdir -p attestations
          curl -L -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ github.token }}" \
          ${{ steps.generate_attestation.outputs.attestation-url }}/download > attestations/Build-Attestation.json
      - name: Draft Release
        id: draft_release
        run: |
          export -- response=$(curl -L -X POST -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ github.token }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/0mniteck/.pki/releases \
          -d '{
          "tag_name":"v0.0.$(cat index.ver)",
          "target_commitish":"main",
          "name":"v0.0.$(cat index.ver)",
          "body":"# Automating release workflow.",
          "draft":true,
          "prerelease":false,
          "generate_release_notes":true,
          "make_latest":"false" 
          }' | jq .id || exit 1) || exit 1
          echo "responded=$response" >> $GITHUB_ENV
          echo "ver=v0.0.$(cat index.ver)" >> $GITHUB_ENV
      - name: Install GitReleaseManager
        uses: gittools/actions/gitreleasemanager/setup@d96456f5d2fd78923086859f5328008482688611 # v4.3.3
        with:
          versionSpec: '0.20.0'
      - name: Add assets to draft release
        uses: gittools/actions/gitreleasemanager/addasset@ee6b1e33085776d48cb0d657e9161ba6d367bc69 # v4.3.3
        with:
          token: ${{ github.token }}
          repository: '0mniteck/.pki'
          milestone: "v0.0.${{ env.ver }}"
          assets: |
            runner_outputs.log
            attestations/Build-Attestation.json
      - name: Publish Release
        id: puv
        run: |
          curl -L -X PATCH -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ github.token }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/0mniteck/.pki/releases/${{ env.responded }} \
          -d '{
          "tag_name":"v0.0.$(cat index.ver)",
          "target_commitish":"main",
          "name":"v0.0.$(cat index.ver)",
          "body":"## Attestations are attached below.",
          "draft":false,
          "immutable":true,
          "prerelease":false,
          "make_latest":"true"
          }' | jq .id || exit 1
