name: Immutable Release
permissions:
  id-token: write
  contents: write
  attestations: write
on:
  workflow_dispatch:
jobs:
  fetch-pki:
    uses: 0mniteck/.pki/.github/workflows/fetch.yml@9172f750171a6bf417e3a963ef6ab4fca0e0dec2 #v0.0.2
  immutable-rel:
    runs-on: ubuntu-latest
    needs: fetch-pki
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # checkout@v6
      - name: Generate attestation
        id: generate_attestation
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f #v3
        with:
            subject-path: |
              index.csv
              index.ver
              local.sh
              'registry/**'
              '.github/workflows/**'
      - name: Fetch Attestation ID's
        id: fetch_attestation
        run: |
          cat ${RUNNER_TEMP}/created_attestation_paths.txt > runner_outputs
          echo 1. ${{ steps.generate_attestation.outputs.bundle-path }} >> runner_outputs
          echo 2. ${{ steps.generate_attestation.outputs.attestation-url }} >> runner_outputs
          echo 3. ${{ steps.generate_attestation.outputs.attestation-id }} >> runner_outputs
          cat runner_outputs
      - name: Download Attestations
        id: download_attestation
        run: |
          mkdir -p attestations
          curl -L \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ github.token }}" \
          ${{ steps.generate_attestation.outputs.attestation-url }}/download > attestations/attestation.json
      - name: Draft release
        run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ github.token }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/0mniteck/.pki/releases \
          -d '{"tag_name":"v0.0.2","target_commitish":"main","name":"v0.0.2","body":"","draft":true,"make_latest":false,"prerelease":false,"generate_release_notes":true}'
      - name: Add assets to draft release
        uses: gittools/actions/gitreleasemanager/addasset@71a79f7569b981036febd9ce5870f87e069928e7 # v4.3.3
        with:
          token: ${{ github.token }}
          repository: '0mniteck/.pki'
          milestone: 'v0.0.2'
          assets: |
              "runner_outputs.log"
              "attestations/attestation_**.json"
              "${RUNNER_TEMP}/created_attestation_paths.txt"
      - name: Publish Release
        run: |
          curl -L \
          -X PATCH \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ github.token }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/OWNER/REPO/releases/RELEASE_ID \
          -d '{"tag_name":"v0.0.2","target_commitish":"main","name":"v0.0.2","body":"Automating release workflow.","draft":false,"make_latest":true,"immutable":true,"prerelease":false}'
